{% extends 'head.html' %}

{% block body %}
<body>
    <h1>Extruder Cam Directory</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>Camer: <a href="/camera">Preview</a> / <a href="/camera?res=high">High-Res</a></li>
            <li><a href="/stream">Stream</a></li>
            <li>Lights: <a href="#" onclick="lightsOn()">On</a> / <a href="#" onclick="lightsOff()">Off</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
{% endblock %}