<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
    <title>FlaskApp</title>
            <script type="text/javascript">

                function lightsOn(){
                    const xhttp = new XMLHttpRequest();
                    xhttp.open("GET","/lights/on", true);
                    xhttp.send();
                    const reloadTImer = setTimeout(function(){window.location.reload()},1000)
                }

                function lightsOff(){
                    const xhttp = new XMLHttpRequest();
                    xhttp.open("GET","/lights/off", true);
                    xhttp.send();
                    const reloadTImer = setTimeout(function(){window.location.reload()},1000)

                }


            </script>
    </head>

{% block body %} {% endblock %}

</html>